* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
	font-family: Helvetica;
	line-height: 1.5;
	color: #333;
}

body {
	background: #F5F5F5;
	padding: 20px;
	margin: 0;
}

input[type="text"] {
	width: 100%;
	padding: 16px;
	font-size: 20px;
	border: 1px solid #CCC;
	background: #FFF;
	border-radius: 2px;
}

a {
	color: #1976d2;
	text-decoration: none;
}

a:hover {
	color: #1565c0;
}

h2 {
	margin-top: 48px;
}

h1, h2 {
	color: #E91E63;
}

section.whats-my-vat-number {
	max-width: 800px;
	margin: 0 auto;
}

section.information {
	max-width: 800px;
	margin: 0 auto;
}

.vat-number {
	margin-top: 32px;
	font-size: 28px;
	background: #00acff;
	text-align: center;
	font-weight: bold;
	border-radius: 2px;
}

.save-org-number-wrapper {
	margin-top: 10px;
	font-size: 12px;
}

@media (min-width: 500px) {
	.vat-number {
		font-size: 40px;
	}
}

.footer {
	margin: 48px 0 16px 0;
	font-size: 12px;
	text-align: center;
}

.footer .inity {
	width: 50px;
}

.footer .brollopssida {
	margin-top: 10px;
	color: #666;
	line-height: 1.8;
}
